/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.global-msg > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4px;
}
.global-msg {
  background-color: cadetblue;
}

/*nav bar */
.nav-bar > div {
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  padding: 1rem 0;
  background-color: rgb(202, 113, 50);
}
ul {
  list-style-type: none;
}
.menu > ul {
  display: flex;
  gap: 10px;
}
.menu > ul > li {
  cursor: pointer;
}
.menu > ul > li:hover {
  color: purple;
  text-decoration: underline;
  transform: translateY(-2px);
}

.hero {
  /* background-image: url(./image/images.jpeg);
  background-repeat: no-repeat;
  background-position: center; */

  background: url(./image/images.jpeg) no-repeat center;
  background-size: cover;
  /*background-color: burlywood; */
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  background-color: rgba(43, 53, 44, 0.742);
  color: white;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.main {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}
.main-content {
  width: 65%;
  /* background-color: red; */
}
.art-img {
  width: 400px;
  transition: all 0.5s cubic-bezier(0.1);
}
article {
  display: flex;
  gap: 10px;
  padding: 1rem;
  border: 1px solid rgba(198, 158, 158, 0.8);
}
.side-links {
  width: 35%;
  /* background-color: brown; */
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
}
.art-content div {
  margin-bottom: 10px;
}
.btn {
  background-color: orangered;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.btn:hover {
  background-color: brown;
}
.btn-box {
  display: flex;
  justify-content: right;
}
/* side links */
.read-by-country,
.read-by-date {
  margin-top: 1.8rem;
  padding: 1rem;
  background-color: coral;
  border-radius: 5px;
}
.read-by-date {
  background-color: rgba(229, 229, 94, 0.825);
}
.side-links li::before {
  content: "🎩";
  margin-right: 5px;
}
.read-by-date li::before {
  content: "🪖";
  margin-right: 5px;
}
/* recommendations */
.recomendation {
  background-color: antiquewhite;
  padding: 3rem 0;
}

.cardlist {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
}

.card {
  /* width: 250px; */
  background-color: white;
  padding: 1rem;
  /* copied from box shadow generator */
  box-shadow: 3px 6px 3px -4px #000000;
  flex-basis: 250px;
  flex-grow: 1;
}
/* subscribe */
.subs {
  /* background-color: bisque; */
  padding: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.subs input {
  padding: 5px 10px;
  border: 1px solid orangered;
  border-radius: 10px;
}
.subs input:focus {
  outline: none;
  border: 2px solid orangered;
}
footer {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
}
/* media query */
/* ipad */
@media (max-width: 800px) {
  .nav-bar {
    background-color: orange;
    color: white;
  }
  .main-content {
    width: 60%;
  }
  .side-links {
    width: 30%;
  }
  /* .main{
    display: flex;
    padding: 2rem;
  } */
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .art-img{
    width: 250px;

  }
}
/* mid breakpoint */
@media (max-width: 480px) {
  .main{
    flex-direction: column;
  }
  .main-content, .side-links{
    width: 100%;
  }
  .art-img{
    width: 320px;
  }
  .side-links{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 20px;
    gap: 20px;
  }
  .side-links>div{
    flex: 1;
  }
  .subs form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
/* iphone */
@media (max-width: 390px) {
  .hero-content{
    padding: 0.4rem 1rem;
  }
  .hero-content>h1{
    font-size: 1.5 rem;
  }
.art-img{
  width: 210px;
}
.subs h3{
  text-align: center;
  padding: 0px 10px;
}
}
